#nav{
	border-radius: 0;
	background-color: #424242;
	border:0;
}

 .navbar-brand h1{
	font-family: 'PT Sans', sans-serif;
    margin-top: 0;
	font-weight: bold;
	color:#76FF03;
	font-size:25px;
	
 
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}



